.knight {
    height: 100px;
    width: auto;
}

.knight.ArrowDown {
    transform: rotate(90deg);
}

.knight.ArrowLeft {
    transform: rotate(180deg) scaleY(-1);
}

.knight.ArrowUp {
    transform: rotate(270deg);
}

.knight.s {
    transform: rotate(90deg);
}

.knight.a {
    transform: rotate(180deg) scaleY(-1);
}

.knight.w {
    transform: rotate(270deg);
}