.knight {
    height: 100px;
    width: auto;
}

.knight.ArrowUp {
    transform: rotate(90deg);
}

.knight.ArrowRight {
    transform: rotate(180deg) scaleY(-1);
}

.knight.ArrowDown {
    transform: rotate(270deg);
}

.knight.w {
    transform: rotate(90deg);
}

.knight.d {
    transform: rotate(180deg) scaleY(-1);
}

.knight.s {
    transform: rotate(270deg);
}

.label {
    position: absolute;
    margin-left: 25px;
}

.health {
    margin-left: 5px;
}

.game-box {
    border-style: solid;
    border-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 35vw;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-row {
    text-align: center;
}

